<!DOCTYPE html>
<html>
<head>
    <title>VJSpider Tester - An Error Occurred</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/style.css" rel="stylesheet" media="screen">

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">VJSpider Tester</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/randomProblem">Home</a></li>
                    <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider">Fork on Github</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container" style="margin-top: 60px;">
    <div class="hero-unit">
        <h1>An Error Occurred</h1>
        <p>__ERROR__</p>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <p>This tester is mainly for the developers or contributors who take part in <a href="https://github.com/XadillaX/vjudge-description-spider" target="_blank">vjudge-description-spider</a>.</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>

        <ul class="footer-links">
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider">Fork on Github</a></li>
            <li class="muted">&middot;</li>
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider/issues?state=open">Issues</a></li>
            <li class="muted">&middot;</li>
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-submitter">vjudge-submitter</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
