<!DOCTYPE html>
<html>
<head>
    <title>_OJNAME_ Tester :: [_ID_] _TITLE_</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/style.css" rel="stylesheet" media="screen">

    <script src="/jquery-2.0.3.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-cn" />
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">VJSpider Tester</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="/">Home</a></li>
                    <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider">Fork on Github</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container" style="margin-top: 60px;">
    <div class="page-header">
        <h1>[_ID_] _TITLE__SPECIALJUDGE_</h1>

        <span class="label label-info">Time limit: _TIME_ms</span>
        <span class="label label-info">Memory limit: _MEMO_K</span> <br />
        <span class="label label-important">Accepted: _AC_</span>
        <span class="label">Total Submit: _SUB_</span>
        <span class="label label-inverse">Ratio: _RATIO_</span>
    </div>

    <article class="well">
        <div class="row-fluid">
            <h2>Description</h2>
            <div>
                _DESCRIPTION_
            </div>

            <h2>Input</h2>
            <div>
                _INPUT_
            </div>

            <h2>Output</h2>
            <div>
                _OUTPUT_
            </div>

            <h2>Sample Input</h2>
            <div>
                <pre>_SINPUT_</pre>
            </div>

            <h2>Sample Output</h2>
            <div>
                <pre>_SOUTPUT_</pre>
            </div>

            <h2>Hint</h2>
            <div>
                _HINT_
            </div>

            <h2>Source</h2>
            <div>
                _SOURCE_
            </div>
        </div>
    </article>
</div>

<footer class="footer">
    <div class="container">
        <p>This tester is mainly for the developers or contributors who take part in <a href="https://github.com/XadillaX/vjudge-description-spider" target="_blank">vjudge-description-spider</a>.</p>
        <p>Code licensed under <a href="http://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License v2.0</a>.</p>

        <ul class="footer-links">
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider">Fork on Github</a></li>
            <li class="muted">&middot;</li>
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-description-spider/issues?state=open">Issues</a></li>
            <li class="muted">&middot;</li>
            <li><a target="_blank" href="https://github.com/XadillaX/vjudge-submitter">vjudge-submitter</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
